/*galeria - index html*/

.grid-container{
    display: grid;
    grid-gap: 50px 100px ;
}

.grid-container div{
    padding: 5px;
    justify-content: center;
}

.item-gallery-title{
    grid-column: 1 / span 4;
    transform: scale(1, 1);
    transition: transform 0.5s ease;
    color: black;
    font-family: fantasy;
    text-align: center;
}

.item-gallery-title:hover{
    transform: scale(1.5, 1.5);
}

.item-gallery-row-1{
    transform: translate(1, 1);
    transition: transform 0.5s ease;
}

.item-gallery-row-1 img{
    width: 100%;
    -webkit-box-shadow: 5px 5px 17px 0px rgba(0,0,0,0.66); 
    box-shadow: 5px 5px 17px 0px rgba(0,0,0,0.66);
    max-width: 370px;
}

.item-gallery-row-1:hover{
    transform: translate(2em, 2em);

}

.item-gallery-row-2{
    transform: translateY(1);
    transition: transform 0.5s ease;

}

.item-gallery-row-2 img{
    width: 100%; 
    -webkit-box-shadow: 5px 5px 17px 0px rgba(0,0,0,0.66); 
    box-shadow: 5px 5px 17px 0px rgba(0,0,0,0.66);
    max-width: 370px;
}
    
.item-gallery-row-2:hover{
    transform: translateY(2em);
}

/*formulario - index html*/

.contac-form{
    margin-bottom: 20px;
    }

    .form{
        margin-top:20px;
        margin-block-end: 10px;
    }

    #contac-home{
        color: grey;
        font-family: fantasy;
        margin-top:20px;
        margin-bottom: 10px;
        justify-items: center;
    }