*{
    margin: 0;
}

.icon-nemi{
justify-items: center;
}

/*contenido*/

    .contenido{
        margin:0;
        padding-top: 20px ;
        padding-left:40px;
        padding-right:40px;
        padding-bottom: 40px; 
        background: rgb(2,0,36);
        background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(62,52,56,0) 100%, rgba(0,212,255,1) 100%);
    }

    .contenido-2{
        margin:0;
        padding-top: 10px ;
        padding-left:40px;
        padding-right:40px;
        padding-bottom: 40px; 
        }

    #contac-home{
        color: grey;
        font-family: fantasy;
        margin-top:20px;
        margin-bottom: 10px;
        justify-items: center;
    }

    section h3{
        margin-top:30px;
        margin-left:30px;
        margin-right:30px;
        margin-bottom: 30px;
        text-align: justify;
        font-family: 'Times New Roman', Times, serif;
    }

    main h4{    
        font-style: oblique;
        font-size: larger;
        font-weight: lighter;
        margin-top:40px;
    }

/*formulario pagina principal*/
    .contac-form{
    margin-bottom: 20px;
    }
    .form{
        margin-top:20px;
        margin-block-end: 10px;
    }


/*catalogo*/

    .filtros{
        justify-items: center;
    }

    .button{
        margin-top: 10px;
    }

/*compras*/

    .tab{
        border-style: ridge;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }

/*pie de pagina*/

    footer{
        min-height: 100px;
        background-color: black;
        color:#fff;
        width: 100%;
        position: absolute;
    }

    footer div{
        padding:20px 50px 20px 50px;
    }

    footer h6{
        text-align: right;
    }

    footer div ul{
        margin-top: 5px;
    }

    footer div ul a{
        text-decoration: none;
        color:#7b7b7b;
    }

    footer div ul a:hover{
        text-decoration: underline;
        transition: 0.3s;
    }

    footer div fa-brands{
        text-decoration: none;
    }

    footer div fa-brands:hover{
        text-decoration: underline;
    }

    .redes{
        color:#7b7b7b;
    }

    ul{
        text-align: left;
        display:inline-block;
        list-style: none;
    }


/*aplicando grids, animaciones y transiciones*/

/*index html*/

.grid-container{
    display: grid;
    grid-gap: 50px 100px ;
}

.grid-container div{
    padding: 5px;
    justify-content: center;
}

.item-gallery-title{
    grid-column: 1 / span 4;
    transform: scale(1, 1);
    transition: transform 0.5s ease;
    color: black;
    font-family: fantasy;
    text-align: center;
}

.item-gallery-title:hover{
    transform: scale(1.5, 1.5);
}

.item-gallery-row-1{
    transform: translate(1, 1);
    transition: transform 0.5s ease;
}

.item-gallery-row-1 img{
    width: 100%;
    -webkit-box-shadow: 5px 5px 17px 0px rgba(0,0,0,0.66); 
    box-shadow: 5px 5px 17px 0px rgba(0,0,0,0.66);
    max-width: 370px;
}

.item-gallery-row-1:hover{
    transform: translate(2em, 2em);

}

.item-gallery-row-2{
    transform: translateY(1);
    transition: transform 0.5s ease;

}

.item-gallery-row-2 img{
    width: 100%; 
    -webkit-box-shadow: 5px 5px 17px 0px rgba(0,0,0,0.66); 
    box-shadow: 5px 5px 17px 0px rgba(0,0,0,0.66);
    max-width: 370px;
}
    
.item-gallery-row-2:hover{
    transform: translateY(2em);
}

/*catalogo*/

#carouselExampleCaptions{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 370px;
    font-style:oblique;
}
.carousel-inner{
    padding: 20px;
    justify-content: center;
}

/*loggin*/

.loggin{
    display: flex;
    justify-content: center;
    padding: 20px 20px 20px 20px;
}

.register{
    display: flex;
    justify-content: center;
    padding: 5px 20px 20px 5px;
}

/* -- MOBILE -- */
    @media (max-width: 576px) {

        .container {
            grid-template-columns: repeat(5, 1fr);
        }

        .item-gallery-title{
            grid-column: 1 /  2;
        }
    }

/* -- TABLET -- */
    @media (min-width: 576px) and (max-width: 1200px) {
        
        nav img{
            width: 200px;
        }

        .container {
            grid-template-columns: repeat(4, 1fr);
        }   

        .item-gallery-title{
            grid-column: 1 /  3;
        }

    }


    


    

